@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,200;1,300&family=Ubuntu:wght@300;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.navcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.carousalcontainer{
    height: 80vh;
}

#serach

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;


    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid blue;


    }

    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }
    

    .product-device {
        position: absolute;
        right: 10%;
        bottom: -30%;
        width: 300px;
        height: 540px;
        background-image: url("images/assets/P3.png");
        background-color: #e8c7c7;
        background-repeat: none;
        background-size: 550px;
        transform: rotate(30deg);
    }

    .product-device-2 {
        top: -25%;
        right: auto;
        bottom: 0;
        left: 5%;
        background-image: url(images/assets/P3.png);
        background-color: #e8c7c7;
        background-repeat: none;

    }

    .social-icons{
        font-size: 1.5rem;
    }


    a {
        color: rgb(20 21 20 / 90%);
        background-color: transparent;
        text-decoration: none;
      }

      .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: #8f9194;
        text-decoration: none;
        background: 0 0;
        border: 0;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

    small{
        font-size: 1.2rem;
        font-weight: 600;
    }